# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Ambiente
.env
.env.*
!.env.example

# Node / React
node_modules/
frontend/dist/

# Banco de dados
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db